# Instructions

* This notebook has a combination of fill-in-the-blank and entire code blocks you need to solve.

# Hypothesis Testing


We would like to know if the effects we see in the sample(observed data) are likely to occur in the population. 

The way classical hypothesis testing works is by conducting a statistical test to answer the following question:
> Given the sample and an effect, what is the probability of seeing that effect just by chance?

Here are the steps on how we would do this

1. Compute test statistic
2. Define null hypothesis
3. Compute p-value
4. Interpret the result

If p-value is very low (below 0.05), the effect is considered statistically significant. That means that effect is unlikely to have occured by chance. The inference? The effect is likely to be seen in the population too. 

This process is very similar to the *proof by contradiction* paradigm. We first assume that the effect is false. That's the null hypothesis. Next step is to compute the probability of obtaining that effect (the p-value). If p-value is very low (<0.05 as a rule of thumb), we reject the null hypothesis.

In [3]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib as mpl
%matplotlib inline

In [24]:
import seaborn as sns
sns.set(color_codes=True)

In [25]:
weed_pd = pd.read_csv("../data/Weed_Price.csv", parse_dates=[-1])
weed_pd.head()

        State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
0     Alabama  339.06    1042  198.64    933  149.49    123 2014-01-01
1      Alaska  288.75     252  260.60    297  388.58     26 2014-01-01
2     Arizona  303.31    1941  209.35   1625  189.45    222 2014-01-01
3    Arkansas  361.85     576  185.62    544  125.87    112 2014-01-01
4  California  248.78   12096  193.56  12812  192.92    778 2014-01-01

* Parse the `date` column to create two new columns: one for `month` and one for `year`.

In [26]:
#Complete the code below

weed_pd["month"] = weed_pd["date"].apply(lambda x: x.month) ##can we talk about how lambda works here?
weed_pd["year"] = weed_pd["date"].apply(lambda x: x.year)

In [27]:
weed_pd.head()

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date,month,year
0,Alabama,339.06,1042,198.64,933,149.49,123,2014-01-01,1,2014
1,Alaska,288.75,252,260.60,297,388.58,26,2014-01-01,1,2014
2,Arizona,303.31,1941,209.35,1625,189.45,222,2014-01-01,1,2014
3,Arkansas,361.85,576,185.62,544,125.87,112,2014-01-01,1,2014
4,California,248.78,12096,193.56,12812,192.92,778,2014-01-01,1,2014

### Let's work on weed prices in California in 2014

* Parse the `weed_pd` DataFrame so that it contains only entries for California from 2014.

In [31]:
weed_ca_2014 = weed_pd.loc[(weed_pd['State'] == 'California') & (weed_pd['year'] == 2014), ['State', 'year','HighQ']].reset_index()
weed_ca_2014

     index       State  year   HighQ
0        4  California  2014  248.78
1      106  California  2014  248.20
2      208  California  2014  247.60
3      259  California  2014  246.76
4      310  California  2014  246.04
..     ...         ...   ...     ...
359  22546  California  2014  245.68
360  22648  California  2014  245.39
361  22699  California  2014  245.11
362  22750  California  2014  245.13
363  22852  California  2014  243.96

[364 rows x 4 columns]

In [32]:
print(weed_ca_2014['State'].unique())
print(weed_ca_2014['year'].unique())

['California']
[2014]

* Find the mean and standard deviation of high quality weed's price.

In [41]:
print("Mean:", weed_ca_2014['HighQ'].mean())
print("Standard Deviation:", np.std(weed_ca_2014['HighQ'], ddof=1))

Mean: 245.89423076923077
Standard Deviation: 1.2899079393714108

* Calculate the 95% confidence interval on the mean.

In [3]:
stats.norm.interval?

In [47]:
stats.norm.interval(0.95 , loc= 245.89423076923077, scale = weed_ca_2014.HighQ.std()/np.sqrt(len(weed_ca_2014)))

(245.7617184927259, 246.02674304573566)

### Question: Are high-quality weed prices in Jan 2014 significantly higher than in Jan 2015?

* Make two `numpy` arrays by subetting the original DataFrame: each array should list the `HighQ` entries for California in January of 2014 and 2015.

In [67]:
#Get the data
## Why does this have to be numpy array?**got it--because of the ttest
weed_ca_jan2014 = weed_pd.loc[(weed_pd['State'] == 'California') & (weed_pd['month'] == 1) & (weed_pd['year'] == 2014), ['HighQ']].to_numpy()
weed_ca_jan2015 = weed_pd.loc[(weed_pd['State'] == 'California') & (weed_pd['month'] == 1) & (weed_pd['year'] == 2015), ['HighQ']].to_numpy()

In [68]:
print(type(weed_ca_jan2014))
weed_ca_jan2014

<class 'numpy.ndarray'>

array([[248.78],
       [248.67],
       [248.67],
       [248.65],
       [248.68],
       [248.68],
       [248.64],
       [248.63],
       [248.58],
       [248.56],
       [248.54],
       [248.47],
       [248.45],
       [248.41],
       [248.48],
       [248.44],
       [248.43],
       [248.49],
       [248.44],
       [248.39],
       [248.33],
       [248.28],
       [248.25],
       [248.22],
       [248.18],
       [248.21],
       [248.24],
       [248.28],
       [248.23],
       [248.28],
       [248.23]])

* Find the mean value for each of the arrays.

In [69]:
print("Mean-2014 Jan:", np.mean(weed_ca_jan2014, axis = 0 ))
print("Mean-2015 Jan:", np.mean(weed_ca_jan2015, axis = 0 ))

Mean-2014 Jan: [248.44548387]
Mean-2015 Jan: [243.60225806]

* Calculate the effect size of one year on the mean value of weed prices in California. What difference does one year make in terms of average weed prices?

In [71]:
print("Effect size:", (248.44548387-243.60225806))

Effect size: 4.843225810000007

**Null Hypothesis**: Mean prices aren't significantly different

Perform **t-test** and determine the p-value.

In [26]:
stats.ttest_ind?

In [72]:
stats.ttest_ind(weed_ca_jan2014 , weed_ca_jan2015 , equal_var=True)

Ttest_indResult(statistic=array([98.01132524]), pvalue=array([6.29797182e-68]))

p-value is the probability that the effective size was by chance. And here, p-value is almost 0.

*Conclusion*: The price difference is significant. But is a price increase of $4.85 a big deal? The price decreased in 2015 by almost 2%. Always remember to look at effect size.

### t-test Challenge
**Problem** Determine if prices of medium quality weed for Jan 2015 and Feb 2015 are significantly different for New York. 
* _**CoderGirl**: Use what you've learned above to answer the below two questions._

In [80]:
weed_ny_jan2015 = weed_pd.loc[(weed_pd['State'] == 'New York') & (weed_pd['month'] == 1) & (weed_pd['year'] == 2015), ['MedQ']].to_numpy()
weed_ny_feb2015 = weed_pd.loc[(weed_pd['State'] == 'New York') & (weed_pd['month'] == 2) & (weed_pd['year'] == 2014), ['MedQ']].to_numpy()

print("Effect size is:", (np.mean(weed_ny_feb2015))-(np.mean(weed_ny_jan2015)))
      
print(stats.ttest_ind(weed_ny_jan2015, weed_ny_feb2015, equal_var=True))

Effect size is: 4.860898617511566
Ttest_indResult(statistic=array([-64.74877659]), pvalue=array([4.57103871e-55]))

The p-value is < 0.05, and the effect size was an $4.86 rise, so while it was significantly different, it does not seem to be that impactful.

### Assumption of t-test

One assumption is that the data used came from a normal distribution. 
<br>
There's a [Shapiro-Wilk test](https://en.wikipedia.org/wiki/Shapiro-Wilk) to test for normality. If p-value is less than 0.05, then there's a low chance that the distribution is normal.

* *Are the `weed_ca_jan2015` and `weed_ca_jan2014` data normally distributed?*

stats.shapiro?--based on the pvalues it is likely they are normally distributed

In [13]:
stats.shapiro(weed_ca_jan2015)

(0.9469053149223328, 0.12818680703639984)

In [14]:
stats.shapiro(weed_ca_jan2014)

(0.9353488683700562, 0.06141229346394539)

### A/B testing

Comparing two versions to check which one performs better. Eg: Show to people two variants for the same webpage that they want to see and find which one provides better conversion rate (or the relevant metric). [wiki](https://en.wikipedia.org/wiki/A/B_testing)

**Exercise: Impact of regulation and deregulation.**

* _**CoderGirl**: Use what you've learned above to answer the below two questions._

Information on regulation of Weed in the US by State [wiki](Impact of regulation and deregulation on a couple of states )

1. Alaska legalized it on 4th Nov 2014. Find if prices significantly changed in Dec 2014 compared to Oct 2014. 
2. Maryland decriminalized possessing weed from Oct 1, 2014. Find if prices of weed changed significantly in Oct 2014 compared to Sep 2014

In [86]:
weed_alaska_dec2014 = weed_pd.loc[(weed_pd['State'] == 'Alaska') & (weed_pd['month'] == 12) & (weed_pd['year'] == 2014), ['HighQ']].to_numpy()
weed_alaska_oct2014 = weed_pd.loc[(weed_pd['State'] == 'Alaska') & (weed_pd['month'] == 10) & (weed_pd['year'] == 2014), ['HighQ']].to_numpy()

print("Effect size of high quality weed in Alaska between Oct 2014 and Dec 2014 is:", np.mean(weed_alaska_dec2014)-np.mean(weed_alaska_oct2014))
print(stats.ttest_ind(weed_alaska_dec2014, weed_alaska_oct2014, equal_var=True))
print()
weed_maryland_sept2014 = weed_pd.loc[(weed_pd['State'] == 'Maryland') & (weed_pd['month'] == 9) & (weed_pd['year'] == 2014), ['HighQ']].to_numpy()
weed_maryland_oct2014 = weed_pd.loc[(weed_pd['State'] == 'Maryland') & (weed_pd['month'] == 10) & (weed_pd['year'] == 2014), ['HighQ']].to_numpy()

print("Effect size of high quality weed in Maryland between Sept 2014 and Oct 2014 is:", np.mean(weed_maryland_sept2014)-np.mean(weed_maryland_oct2014))
print(stats.ttest_ind(weed_maryland_sept2014, weed_maryland_oct2014, equal_var=True))

Effect size of high quality weed in Alaska between Oct 2014 and Dec 2014 is: 10.28419354838718
Ttest_indResult(statistic=array([15.1433024]), pvalue=array([3.65519294e-22]))

Effect size of high quality weed in Maryland between Sept 2014 and Oct 2014 is: 0.8180752688172106
Ttest_indResult(statistic=array([11.79234284]), pvalue=array([3.74258204e-17]))

<h2> Something to think about: Which of these give smaller p-values ? </h2>
   
   * Smaller effect size --> smaller effect size would be smaller difference between them
   * Smaller standard error --> this
   * Smaller sample size --> opposite of what's true
   * Higher variance --> high variability in data would result in less confidence there is an effect
   
   **Answer:** 
   smaller standard error

### Chi-square tests

Chi-Square tests are used when the data are frequencies, rather than numerical score/price.

The following two tests make use of chi-square statistic

1. chi-square test for goodness of fit
2. chi-square test for independence

Chi-square test is a non-parametric test. They do not require assumptions about population parameters and they do not test hypotheses about population parameters.

<h2> Chi-Square test for goodness fit </h2>

$$ \chi^2 = \sum (O - E)^2/E $$

* O is observed frequency
* E is expected frequency
* $ \chi $ is the chi-square statistic

Let's assume the proportion of people who bought High, Medium and Low quality weed in Jan-2014 as the expected proportion. Find if proportion of people who bought weed in Jan 2015 conformed to the norm

* Find the total numbers of people who bought High/Med/Low quality weed in January of each year.

In [87]:
weed_jan2014 = weed_pd[(weed_pd.year==2014) & (weed_pd.month==1)][["HighQN", "MedQN", "LowQN"]]
weed_jan2015 = weed_pd[(weed_pd.year==2015) & (weed_pd.month==1)][["HighQN", "MedQN", "LowQN"]]

weed_jan2014

       HighQN  MedQN  LowQN
0        1042    933    123
1         252    297     26
2        1941   1625    222
3         576    544    112
4       12096  12812    778
...       ...    ...    ...
22435    2583   2072    218
22436    2431   2464    113
22437     379    389     41
22438    1697   1451    133
22439      94    137     11

[1581 rows x 3 columns]

In [88]:
Expected = np.array(weed_jan2014.apply(sum, axis=0))
Observed = np.array(weed_jan2015.apply(sum, axis=0))

In [89]:
print("Expected:", Expected, "\n" , "Observed:", Observed)

Expected: [2918004 2644757  263958]
 Observed: [4057716 4035049  358088]

* Print the proportions of High/Med/Low quality weed bought and observed.

In [90]:
print("Expected:", Expected/np.sum(Expected.astype(float)), "\n" , "Observed:", Observed/np.sum(Observed.astype(float)))

Expected: [0.5007971  0.45390159 0.04530131]
 Observed: [0.48015461 0.47747239 0.042373  ]

* Do the Chi-Squared test. What is your result? Were the proportions of people buying high quality weed in Jan 2015 different than expected?

In [33]:
stats.chisquare?

In [92]:
stats.chisquare(Observed , Expected, ddof=0, axis = 0)

Power_divergenceResult(statistic=1209562.2775169075, pvalue=0.0)

*Inference* : We reject null hypothesis. The proportions in Jan 2015 is different than what was expected.